<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <h1>Games</h1>
</head>
<body>
    <!-- Navigation bar -->
    <nav id="navigation-links">
        <ul>
            <li><a href="/users">Users</a></li>
            <li><a href="/reviews">Reviews</a></li>
            <li><a href="/stats">Stats</a></li>
        </ul>
    </nav>

    <table id="game-table">
        <thead>
            <tr>
                {{#each data.[0]}}
                    <th>{{@key}}</th>
                {{/each}}
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr data-value={{this.idGame}}>
                <td>{{this.idGame}}</td>
                <td>{{this.title}}</td>
                <td>{{this.releaseDate}}</td>
                <td>{{this.genre}}</td>
                <td>{{this.developerName}}</td>
                <td><button onclick="deleteGame({{this.idGame}})">Delete</button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script src="./js/deleteGame.js"></script>

    <h2>Add Game</h2>
    <form id="add-game-form" method="POST" action="/add-game">
        <label for="input-title">Title: </label>
        <input type="text" name="input-title" id="input-title">
        
        <label for="input-date">Release Date: </label>
        <input type="date" name="input-date" id="input-date">

        <label for="input-genre">Genre: </label>
        <input type="text" name="input-genre" id="input-genre">

        <label for="input-developer">Developer: </label>
        <select name="input-developer" id="input-developer">
            <option value="">Select a Developer</option>
            {{#each developers}}
                <option value="{{this.idDeveloper}}">{{this.name}}</option>
            {{/each}}
        </select>

        <input type="submit">
    </form>

</body>
</html>

