<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Reviews</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
</head>
<body>
    <h1>Reviews</h1>
    
    <nav id="navigation-links">
        <ul>
            <li><a href="/">Games</a></li>
            <li><a href="/users">Users</a></li>
            <li><a href="/developers">Developers</a></li>
            <li><a href="/reviews">Reviews</a></li>
            <li><a href="/stats">Stats</a></li>
            
            
        </ul>
    </nav>

    <table id="review-table">
        <thead>
            <tr>
                <th>Review ID</th>
                <th>Name</th>
                <th>Game Title</th>
                <th>Rating</th>
                <th>Review</th>
            </tr>
        </thead>
        <tbody>
            {{#each dataTable}}
            <tr>
                <td>{{this.reviewId}}</td>
                <td>{{this.name}}</td>
                <td>{{this.title}}</td>
                <td>{{this.rating}}</td>
                <td>{{this.comment}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <h2>Add Review</h2>
    <form id="add-review-form" method="POST" action="/add-review">

        <label for="input-user">User: </label>
        <select name="input-user" id="input-user">
            <option value="">Select User</option>
                {{#each users}}
                <option value="{{this.idUser}}">{{this.name}}</option>
                {{/each}}
        </select>
        
        <label for="input-game">Game: </label>
        <select name="input-game" id="input-game">
            <option value="">Select Game</option>
                {{#each gameData}}
                <option value="{{this.idGame}}">{{this.title}}</option>
                {{/each}}
        </select>

        <label for="input-rating">Rating (1-10):</label>
        <input type="number" name="input-rating" id="input-rating" min="1" max="10" required>

         <label for="input-comment">Comment:</label>
         <textarea name="input-comment" id="input-comment" rows="4" required></textarea>

        <input type="submit">
    </form>
    
</body>
</html>

